<h1>Product Show</h1>
<br>
<h2>Name: <%= @product.title %></h2>
<h3>Description: <%= @product.description %></h3>
<h3>Deadline: <%= @product.deadline %></h3>
<h3>Minimum Bid: <%= @product.minimum_bid %></h3>
<br>

<h1>Auction Closed</h1>
<h2>Winner:<%= @winner %></h2>
